/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Roboto Slab Light by Christian Robertson, by free licence from http://www.fontsquirrel.com/fonts/roboto-slab */
@font-face{ 
    font-family: 'RobotoSlabLight';
    src: url('roboto-slab-light/RobotoSlab-Light-webfont.eot');
    src: url('roboto-slab-light/RobotoSlab-Light-webfont.eot?iefix') format('eot'),
         url('roboto-slab-light/RobotoSlab-Light-webfont.woff') format('woff'),
         url('roboto-slab-light/RobotoSlab-Light-webfont.ttf') format('truetype'),
         url('roboto-slab-light/RobotoSlab-Light-webfont.svg#webfont') format('svg');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*REAL STYLES BELOW*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-family: 'RobotoSlabLight';
    font-size: 16px;
    letter-spacing: .025em;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
section {
    /*background-color: white;*/
    /*height: 100vh;*/
    min-height: 720px;
    width: 100%;
    margin: 0;
    padding: 0;
}

article {
    padding: 80px 80px 80px 80px;
    height: 100%;
    width: 100%;
}
p {
    line-height: 130%;
    padding-bottom: 15px;
    max-width: 400px;
}
dd {
    float: left;
    font-size: 18px;
    padding: 0 0 10px 10px;
    font-weight: normal !important;
    line-height: 130%;
    max-width: 80%;
}
dd span {
    font-size: 18px;
    font-style: italic;
}
dt {
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 130%;
}

.pagination {
    width: 50%;
    font-size: 13px;
    padding-top: 60px;
    font-style: italic;
}

.hide{
    display:none;
}
.chunk {
    height: 90%;
    /*overflow: hidden;*/
    
    width: 50%;
}
.left {
    float: left;
}
.right {
    float: right;
    padding-left: 50px;
}
.page_numbers {
    float: right;
}
.left_hand {
    padding-right: 5vw;
}
a {
    color: black;
    transition: color .2s;
}
a:visited {
    color: black;
}
a:hover {
    color: rgb(0, 0, 255);
    transition: color .2s;
}
.caption {
    font-style: italic;
    font-size: 13px;
    max-width: 450px;
    margin-top: -15px;
}
.bigCaption {
    position: relative;
    bottom: 100%;
    font-size: 5vw;
    line-height: 5vw;
    color: #fdffe1;
    font-style: italic;
    max-width: 80%;
    padding: 40px;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, .5);
}
h1 {
    font-size: 9vw;
    line-height: 120%;
    letter-spacing: 2px;
}
h2 {
    font-size: 4.5vw;
    line-height: 120%;
    padding-top: 10px;
    margin-bottom: 30px;
    break-after: always;
    column-break-after: always;
    -webkit-column-break-after: always;
    -moz-column-break-after: always;
    -o-column-break-after: always;
}
h3 {
    line-height: 120%;
    font-size: 2.5vw;
    padding-bottom: 30px;

}
h3 a {
    color: #fdffe1 !important;
}
h4 {
    font-weight: bold;
    font-size: 2.5vw;
    line-height: 130%;
}
li {
    font-size: 2.5vw;
    line-height: 130%;
}
ol {
    break-after: always;
    column-break-after: always;
    -webkit-column-break-after: always;
    -moz-column-break-after: always;
    -o-column-break-after: always;
}
.break_after {
    height: 10px;
    break-after: always;
    column-break-after: always;
    -webkit-column-break-after: always;
    -moz-column-break-after: always;
    -o-column-break-after: always;
}
#cover {
    background-color: #555;
    background-image: url('img/colorbars.jpg');
    background-size: 100% 100%;
    background-blend-mode: screen;
}
#cover article {
    padding-bottom: 0px;
}
#cover article h1, #cover article h2, #cover article h3, #cover article a{
    color: black;
}
.bold {
    font-weight: bold;
    letter-spacing:0;
}

.italic{
    font-style: italic;
    letter-spacing: 0;
}
.big_number {
    float: left;
    height: 110px;
    margin-right: 20px;
    font-size: 120px;
    font-weight: bold;
    text-shadow: 4px 4px #DFDFDF;
}
h5 {
    font-size: 30px;
    line-height: 130%;
}
.headline {
    margin: 0 0 40px 120px;
}
.clear {
    clear: both;
}
.image_hold {
    width: 460px;
    transition: background-position 1s;
    -moz-transition: background-position 1s;
    -webkit-transition: background-position 1s;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 415px auto;
    margin-bottom: 20px;
}
.image_hold:hover {
    cursor: crosshair;
}
.full .image_hold {
    width: 100%;
    height: 100%;
    background-size: 98% auto;
    padding: 0;
    margin: 0;
}
.full {
    height: 100%;
}
.full_article {
    padding: 40px;
    max-width: 1080px;
    margin: 0 auto;
}

#title{
    text-shadow: 4px 4px #FFFFFF;
}

#produced{
    text-shadow: 2px 2px #FFFFFF;
}

#spring{
    text-shadow: 2px 2px #FFFFFF;
}

#three1 {
    height: 325px;
    background-image: url('img/3-1/yellow.jpg'), url('img/3-1/cyan.jpg'), url('img/3-1/magenta.jpg'), url('img/3-1/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#three2 {
    height: 300px;
    background-image: url('img/3-2/yellow.jpg'), url('img/3-2/cyan.jpg'), url('img/3-2/magenta.jpg'), url('img/3-2/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#three3 {
    height: 340px;
    background-image: url('img/3-3/yellow.jpg'), url('img/3-3/cyan.jpg'), url('img/3-3/magenta.jpg'), url('img/3-3/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#three4 {
    height: 330px;
    background-image: url('img/3-4/yellow.jpg'), url('img/3-4/cyan.jpg'), url('img/3-4/magenta.jpg'), url('img/3-4/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#three5 {
    height: 300px;
    background-image: url('img/3-5/yellow.jpg'), url('img/3-5/cyan.jpg'), url('img/3-5/magenta.jpg'), url('img/3-5/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#three6 {
    height: 325px;
    background-image: url('img/3-6/yellow.jpg'), url('img/3-6/cyan.jpg'), url('img/3-6/magenta.jpg'), url('img/3-6/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#four1{
    height: 450px;
    background-image: url('img/4-1/yellow.jpg'), url('img/4-1/cyan.jpg'), url('img/4-1/magenta.jpg'), url('img/4-1/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#four2{
    height: 300px;
    background-image: url('img/4-2/yellow.jpg'), url('img/4-2/cyan.jpg'), url('img/4-2/magenta.jpg'), url('img/4-2/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#five1{
    height: 360px;
    background-image: url('img/5-1/yellow.jpg'), url('img/5-1/cyan.jpg'), url('img/5-1/magenta.jpg'), url('img/5-1/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#five2{
    height: 360px;
    background-image: url('img/5-2/yellow.jpg'), url('img/5-2/cyan.jpg'), url('img/5-2/magenta.jpg'), url('img/5-2/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#six1{
    height: 300px;
    background-image: url('img/6-1/yellow.jpg'), url('img/6-1/cyan.jpg'), url('img/6-1/magenta.jpg'), url('img/6-1/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#seven1{
    height: 340px;
    background-image: url('img/7-1/yellow.jpg'), url('img/7-1/cyan.jpg'), url('img/7-1/magenta.jpg'), url('img/7-1/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#eight1{
    height: 280px;
    background-image: url('img/8-1/yellow.jpg'), url('img/8-1/cyan.jpg'), url('img/8-1/magenta.jpg'), url('img/8-1/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#nine1{
    height: 270px;
    background-image: url('img/9-1/yellow.jpg'), url('img/9-1/cyan.jpg'), url('img/9-1/magenta.jpg'), url('img/9-1/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#ten1{
    height: 260px;
    background-image: url('img/10-1/yellow.jpg'), url('img/10-1/cyan.jpg'), url('img/10-1/magenta.jpg'), url('img/10-1/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#ten2{
    height: 270px;
    background-image: url('img/10-2/yellow.jpg'), url('img/10-2/cyan.jpg'), url('img/10-2/magenta.jpg'), url('img/10-2/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#eleven1{
    height: 260px;
    background-image: url('img/11-1/yellow.jpg'), url('img/11-1/cyan.jpg'), url('img/11-1/magenta.jpg'), url('img/11-1/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#eleven2{
    height: 345px;
    background-image: url('img/11-2/yellow.jpg'), url('img/11-2/cyan.jpg'), url('img/11-2/magenta.jpg'), url('img/11-2/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#eleven3{
    height: 345px;
    background-image: url('img/11-3/yellow.jpg'), url('img/11-3/cyan.jpg'), url('img/11-3/magenta.jpg'), url('img/11-3/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#eleven4{
    height: 355px;
    background-image: url('img/11-4/yellow.jpg'), url('img/11-4/cyan.jpg'), url('img/11-4/magenta.jpg'), url('img/11-4/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#twelve1{
    height: 310px;
    background-image: url('img/12-1/yellow.jpg'), url('img/12-1/cyan.jpg'), url('img/12-1/magenta.jpg'), url('img/12-1/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#twelve2{
    height: 310px;
    background-image: url('img/12-2/yellow.jpg'), url('img/12-2/cyan.jpg'), url('img/12-2/magenta.jpg'), url('img/12-2/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#twelve3{
    height: 310px;
    background-image: url('img/12-3/yellow.jpg'), url('img/12-3/cyan.jpg'), url('img/12-3/magenta.jpg'), url('img/12-3/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#thirteen1{
    height: 340px;
    background-image: url('img/13-1/yellow.jpg'), url('img/13-1/cyan.jpg'), url('img/13-1/magenta.jpg'), url('img/13-1/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#thirteen2{
    height: 310px;
    background-image: url('img/13-2/yellow.jpg'), url('img/13-2/cyan.jpg'), url('img/13-2/magenta.jpg'), url('img/13-2/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#thirteen3{
    height: 450px;
    background-image: url('img/13-3/yellow.jpg'), url('img/13-3/cyan.jpg'), url('img/13-3/magenta.jpg'), url('img/13-3/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#fourteen1{
    height: 310px;
    background-image: url('img/14-1/yellow.jpg'), url('img/14-1/cyan.jpg'), url('img/14-1/magenta.jpg'), url('img/14-1/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#fourteen2{
    height: 310px;
    background-image: url('img/14-2/yellow.jpg'), url('img/14-2/cyan.jpg'), url('img/14-2/magenta.jpg'), url('img/14-2/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#fourteen3{
    height: 310px;
    background-image: url('img/14-3/yellow.jpg'), url('img/14-3/cyan.jpg'), url('img/14-3/magenta.jpg'), url('img/14-3/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#fourteen4{
    height: 750px;
    background-image: url('img/14-4/yellow.jpg'), url('img/14-4/cyan.jpg'), url('img/14-4/magenta.jpg'), url('img/14-4/black.jpg');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#circle{
    height: 500px;
    background-image: url('img/kinder/yellow.png'), url('img/kinder/cyan.png'), url('img/kinder/magenta.png'), url('img/kinder/black.png');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#network{
    height: 300px;
    background-image: url('img/network/yellow.png'), url('img/network/cyan.png'), url('img/network/magenta.png'), url('img/network/black.png');
    background-position: -25px 0, 25px 25px, 0 0, 0 25px;
}
#books {
    height: 300px;
    background-image: url('img/books/yellow.png'), url('img/books/cyan.png'), url('img/books/magenta.png'), url('img/books/black.png');
    background-position: 25px 0, 25px 25px, 0 0, 0 25px;
}
#friends {
    height: 250px;
    background-image: url('img/friends/yellow.png'), url('img/friends/cyan.png'), url('img/friends/magenta.png'), url('img/friends/black.png');
    background-position: -15px 0, 15px 15px, 0 0, 0 15px;
}
#pentagon {
    height: 250px;
    background-image: url('img/pentagon/yellow.png'), url('img/pentagon/cyan.png'), url('img/pentagon/magenta.png'), url('img/pentagon/black.png');
    background-position: -15px 0, 15px 15px, 0 0, 0 15px;
}
#pig {
    height: 250px;
    background-image: url('img/pig/yellow.png'), url('img/pig/cyan.png'), url('img/pig/magenta.png'), url('img/pig/black.png');
    background-position: -15px 0, 15px 15px, 0 0, 0 15px;
}
#rocket {
    height: 275px;
    background-image: url('img/rocket/yellow.png'), url('img/rocket/cyan.png'), url('img/rocket/magenta.png'), url('img/rocket/black.png');
    background-position: 15px 15px, 15px 0, -5px -5px, 0 15px;
}
#big {
    height: 100%;
    width: 103%;
    background-image: url('img/big/yellow.jpg'), url('img/big/cyan.jpg'), url('img/big/magenta.jpg'), url('img/big/black.jpg');
    background-position: 45px 0, 45px 45px, -45px -45px, 0 45px;
}

#three1:hover, #three2:hover, #three3:hover, #three3:hover, #three4:hover, #three5:hover, #three6:hover, #four1:hover, #four2:hover, #five1:hover, #five2:hover, #six1:hover, #seven1:hover, #eight1:hover, #nine1:hover, #ten1:hover, #ten2:hover, #eleven1:hover, #eleven2:hover, #eleven3:hover, #eleven4:hover, #twelve1:hover, #twelve2:hover, #twelve3:hover, #thirteen1:hover, #thirteen2:hover, #thirteen3:hover, #fourteen1:hover, #fourteen2:hover, #fourteen3:hover, #circle:hover, #books:hover, #pentagon:hover, #pig:hover, #rocket:hover, #friends:hover, #network:hover{
    background-position: 0 0;
    transition: background-position 1.5s ;
    -moz-transition: background-position 1.5s ;
    -webkit-transition: background-position 1.5s ;
}
#big:hover {
    background-position: 0 0;
    transition: background-position 1.5s ;
    -moz-transition: background-position 1.5s ;
    -webkit-transition: background-position 1.5s ;
}
#fourteen4:hover{
    background-position: 13px 13px;
    transition: background-position 1.5s 0;
    -moz-transition: background-position 1.5s 0;
    -webkit-transition: background-position 1.5s 0;
}

img {
    max-width: 420px;
    padding-bottom: 10px;
    display: inline;
}
.full img {
    max-width: 100%;
}
.show_mobile {
    display: none;
}
#gif {
    height: 100%;
    margin: 0 auto 0 auto;
    display: block;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 10rem;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%; /*modified for STEAM Pavilion video */
    height: 90%;
}
/*------------*/
/*--------*/
/*----*/
/*MEDIA QUERIES AFTER THIS!!!*/
/*----*/
/*-------*/
@media screen and (min-width: 801px) {
    section {
        height: 100vh;
    }
    .fourthirty{
        max-width: 430px;
    }
    .fourtwenty {
        max-width: 420px;
    }
    .fourfifteen {
        max-width: 415px;
    }
    .fourten {
        max-width: 410px;
    }
    .fourfive {
        max-width: 405px;
    }
    .threeeightfive {
        max-width: 385px;
    }
    .threehundred {
        max-width: 300px;
    }
}
@media screen and (max-width: 1080px) {
    body {
        width: 1080px;
    }
}
@media screen and (max-width: 800px) {
    /*end*/
    
    .half {
        width: 100%;
    }
    .hide_mobile {
        display: none;
    }
    .show_mobile {
        display: inline;
    }
    .chunk {
        width: 100%;
        min-height: 100%;
    }
    .left {
        float: none;
    }
    .right {
        float: none;
        padding: 0;
    }
    /* .column {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -o-column-count: 1;
        column-count: 1;
        min-height: 100%;
    }*/
    
    section {
        max-height: 100%;
        min-height: 0;
    }
    article {
        min-height: 0;
    }
    p {
        max-width: 80%;
    }
    h1 {
        font-size: 20vw;
    }
    h2 {
        font-size: 10vw;
    }
    h3, h4 {
        font-size: 7.5vw;
    }
    li, dd, dt {
        font-size: 5vw;
    }
    .pagination {
        display: none;
    }
    body, section {
        width: 100%;
        overflow-x: hidden;
    }
    h5 {
        font-size: 5vw;
    }
    #cover article {
        padding-bottom: 50px;
    }
    #granoff {
        background-position: 5px 0, 5px 5px, 0 0, 0 5px;
    }
    .full .image_hold {
        width: 100%;
        height: 500px;
        background-size: 95% auto;
        padding: 0;
        margin: 0;
    }
    .no article {
        padding-top: 0;
        padding-bottom: 0;
    }
    .yes {
        background-image: none;
    }
    #gif{height: 400px;}
}
@media screen and (max-width: 640px) {
    /*end*/
    
    article {
        padding: 20px;
    }
    p {
        max-width: 100%;
    }
    .image_hold {
        width: 400px;
        background-size: 290px auto;
    }
    .text_img {
        max-width: 100%;
    }

    #three1 {
        height: 230px;
    }
    #three2 {
        height: 220px;
    }
    #three3 {
        height: 240px;
    }
    #three4 {
        height: 230px;
    }
    #three5 {
        height: 220px;
    }
    #three6 {
        height: 235px;
    }
    #four1{
        height: 340px;
    }
    #four2{
        height: 225px;
    }
    #five1{
        height: 225px;
    }
    #five2{
        height: 225px;
    }
    #six1{
        height: 220px;
    }
    #seven1{
        height: 245px;
    }
    #eight1{
        height: 190px;
    }
    #nine1{
        height: 200px;
    }
    #ten1{
        height: 190px;
    }
    #ten2{
        height: 200px;
    }
    #eleven1{
        height: 190px;
    }
    #eleven2{
        height: 250px;
    }
    #eleven3{
        height: 250px;
    }
    #eleven4{
        height: 260px;
    }
    #twelve1{
        height: 225px;
    }
    #twelve2{
        height: 225px;
    }
    #twelve3{
        height: 225px;
    }
    #thirteen1{
        height: 250px;
    }
    #thirteen2{
        height: 225px;
    }
    #thirteen3{
        height: 320px;
    }
    #fourteen1{
        height: 225px;
    }
    #fourteen2{
        height: 225px;
    }
    #fourteen3{
        height: 225px;
    }
    #fourteen4{
        height: 360px;
    }
    #circle{
        height: 330px;
    }
    #network {
        height: 200px;
    }
    #books {
        height: 200px;
    }
    #friends {
        height: 170px;
    }
    #pentagon {
        height: 170px;
    }
    #pig {
        height: 200px;
    }
    #rocket {
        height: 200px;
    }
    #big{
        height: 300px;
    }

}
